<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
        {% if title %}
          {{ title }}
          |
        {% endif %}
        {{ site.title }}</title>
      <meta name="description" content="{{ site.description }}"/>
      <link rel="stylesheet" type="text/css" href="/styles/index.css"/>
    </head>
    <body>
      {% include 'partials/header.njk' %}
      {% block content %}
        <main class="mx-auto container">
          {{ content | safe }}
        </main>
      {% endblock content %}
      {% include 'partials/footer.njk' %}
    </body>
  </html>
</html>