<footer class="w-full mt-12 text-white bg-black">
  <div class="mx-auto container py-20 lg:py-40 flex flex-col lg:flex-row justify-between">
    <div class="lg:w-1/2 p-8 lg:pl-0">
      <h2 class="text-xl lg:text-2xl tracking-widest">杭州白拿拿网络科技有限公司</h2>
      <p class="mb-2">杭州总公司：杭州市滨江区滨安路650号 IX-WORK C座203</p>
      <p>E-mail: <a href="mailto:sales@vv3c.com" class="underline">sales@vv3c.com</a></p>
    </div>
    <div class="p-8 lg:w-1/2 flex flex-row text-center">
      <div class="w-1/3">
        <img src="/images/partner-cheaa.svg" alt="中国家电协会" class="w-12 lg:w-20 mb-2 inline-block">
        <h4>中国家电协会</h4>
      </div>
      <div class="w-1/3">
        <img src="/images/partner-vde.svg" alt="德国VDE协会" class="w-12 lg:w-20 mb-2 inline-block">
        <h4>德国VDE协会</h4>
      </div>
      <div class="w-1/3">
        <img src="/images/partner-art.svg" alt="中国美术学院" class="w-12 lg:w-20 mb-2 inline-block">
        <h4>中国美术学院</h4> 
      </div>
    </div>
  </div>
  <div class="mx-auto container p-8 lg:px-0 text-sm text-gray-400">
    <span class="mr-8">© 2021 VV3C</span>
    <span class="mr-8"><a href="http://beian.miit.gov.cn/" class="hover:text-white">浙ICP备13010410号-1</a></span>
    <span><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802010216" class=" hover:text-white">浙公网安备 33010802010216号</a></span>
  </div>
</footer>
<script type="module" src="/scripts/index.js"></script>
{% if page.url==='/' %}
<script type="module" src="/scripts/glide.js"></script>
{% endif %}